#[submodule "themes/introduction"]
#	path = themes/introduction
#	url = https://github.com/vickylai/hugo-theme-introduction.git
# Disabled because of integrity issue: https://github.com/victoriadrake/hugo-theme-introduction/issues/187